/*
@media only screen and (device-width: 320px),
only screen and (max-width:480px) {

   
*/

{box-sizing: border-box;}
html {font: normal 100%/1.5 'Overlock', Helvetica, Arial, sans-serif;}
h2, section p {margin: 0 0 1.5rem 0;letter-spacing: 0.0075rem;}
section {padding:3em 2em;}
header, footer {text-align: center;padding: 1em;}



/*************************************************************
  HEADER
**************************************************************/
header {
  position: relative;
  min-height: 100vh;
  width: 100%;
  transform-style: inherit;
  z-index: -1;
}

header::before {
  content: '';
  position: absolute;
  min-height: 100vh;
  width: 100%;
  display: block;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/header.png") top center;
  background-size: cover;
  transform: translateZ(-1px) scale(2.1);
  min-height: 100%;
  z-index: -2;
}


/*************************************************************
  SECTIONS
**************************************************************/
section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  position: relative;
  transform-style: inherit;
}

.section1 {
  background: #fafafa;
  box-shadow: 0 0 20px #333;
  z-index: 1;
}

.section2::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: block;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/contact.jpg") top center;
  background-size: cover;
  transform: translateZ(-.5px) scale(1.6);
  z-index: -1;
}

#foot{
  text-align: center;
   min-height: 50vh;
   min-width: 260px;
  
}

.ii {
  min-width: ;
  margin-top:0rem;
  
}



.sns {
  padding-top:2rem;
}

.sns a {
  
  text-decoration: none;
  color:  #607AE8;
  font-size:1.8rem;
  
  
}

.sns a:hover{
   color: darkslateblue; 
}

.icons {
  margin:1rem;
  
  
}


.icons:hover {

  
  
}

.copyright{
  padding-top:6rem;
}

/*************************************************************
  HEADINGS
**************************************************************/
h1 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  padding: 1rem;
/*
  background: #fafafa;
  box-shadow: 0 0 20px #333;
*/
  color: white;
  top: 50%;
  left: 50%;
  transform: translateZ(-1px) scale(2) translate(-25%, -25%);
}

header h1 {
    color: white;
    font-size: 2rem;
}

.section1 h1 {
  z-index: 3;
  transform: translate(-50%, -50%);
  box-shadow: none;
  color: black;
  
}

.section2 h1  {
  transform: translateZ(-.3px) scale(1.3) translate(-39%, -39%);
  z-index: 3;
  color: white;
  
}


.text{
    font-size: 1.3rem;
    text-align: left;
    
    
}

span a {
        border-style: solid;
        border-width: 2px;
        border-radius: 22px;
        padding: 10px 40px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        color: #ffffff;
        border-color: #ffffff;
        font-size: 0.75rem;
        
    }

span a:hover {
        color: white;
        border: none;
        cursor: pointer;
        background-image: linear-gradient(to right, #457fca 0%, #5691c8  51%, #457fca  100%);
        background-position: right center;
        text-decoration: none;
        transition: all 0.2s linear;
    }


.about {
    
}

.abouta {
    color: black;
    border-color: black;
    font-size: 0.8rem;
}

.abouta:hover {
    
}
/*************************************************************
  BASIC STYLES
**************************************************************/
*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'https://fonts.googleapis.com/css?family=Overlock:400,400i,700|Oleo+Script';

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
  font-size: 62.5%;
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
}

.logo{
    position:absolute;
    top:0.6rem;
    width: 20%;
}

.container{
   
    position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
    text-align: center;
}

.navbar-nav{
    
background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));

    z-index: -1;
}


.navbar-nav li {
    
    z-index: 0;
    color: white;
}



.navbar-toggler-icon {
    
    border: none;
    color: white;
    width: 10%;
}


/*services mobile*/

h2 {
  font-size: 4rem;
  text-align: center;
  position: absolute;
  padding: 1rem;
/*
  background: #fafafa;
  box-shadow: 0 0 20px #333;
*/
  color: white;
  top: 50%;
  left: 50%;
  transform: translateZ(-1px) scale(2) translate(-25%, -25%);
}



/*end of services mobile*/


/* about mobile*/


/*end of about mobile*/

/*landscape phone tablet*/
@media only screen and (min-width: 30em) {
    
    
    
}

/*desktop view*/

@media only screen and (min-width: 35rem) {
 
.navbar-nav{
    
background: none;

    z-index: 0;
}
  
    
header h1 {
    color: white;
    font-size: 2rem;
    
}
    
.about {
    text-align: left;
}   
    
.logo{
    position:relative;
    width: 25%;
} 
    
.container{
    position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
    text-align: center;
} 
    
    .text {
        
    }
    
    
.span a {
        border-style: solid;
        border-width: 2px;
        border-radius: 22px;
        padding: 10px 20px;
        min-width: 10px;
        max-width: 20px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;
        color: #ffffff;
        border-color: #ffffff;
        font-size: 1.2rem;
        
    }
    
    
.abouta {
    color: black;
    border-color: black;
    font-size: 1rem;
}
    
header h1{
     text-align: left;   
}

.ii {
  
  margin-top:0rem;
}
    
    
/*services desktop*/
    
    
/*end of services desktop*/
    
/*about desktop*/
    
    
/*end of about desktop*/
    
/*desktop closing bracket    */
}